{% extends 'base.html.twig' %}

{% block body %}
    {% set presentation = member.title ~ '. ' ~ member.firstname ~ ' ' ~ member.name %}

    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area has-team text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ presentation }}</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>{{ presentation }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->

    <!-- Doctor Details -->
    <section class="doc-details">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="doc-image">
                                <img src="{{ vich_uploader_asset(member, 'imageFile') | imagine_filter('profile_image_on_team_view') }}"
                                     alt="Photo de {{ member.name }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="doc-pro">
                                <h4>{{ presentation }}</h4>
                                <span>{{ member.memberFunction }}</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestias natus et laborum quam velit enim. Recusandae,
                                    voluptates, sequi praesentium dolor illo laboriosam doloribus, earum fugit adipisci maiores, ullam modi.Lorem ipsum dolor
                                    sit amet, consectetur adipisicing elit. Reiciendis, ad, consequatur! Mollitia commodi libero dolores ipsam eum nesciunt.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="doc-pbox">
                                <ul class="list-unstyled">
                                    <li>Spécialité</li>
                                    <li>Cardiology</li>
                                    <li>Padiatric Medicine</li>
                                    <li>Urology</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Education</li>
                                    <li>Doctor of Medicine, University of Newyork, USA (1977)</li>
                                    <li>Doctor of Cardiology, University of Newyork, USA (1985)</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Experience</li>
                                    <li>20 Years Experience as Surgeon.</li>
                                    <li>10 Years Experience as Cardiologist.</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Certifications et Reconnaissances</li>
                                    <li>Cheif Medical Officer, Newyork Medical Institute.</li>
                                    <li>Head of Cardiology, Newyork Hospital.</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Adresse</li>
                                    <li>795 South Park Avenue, CA 94107 USA.</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Telephone</li>
                                    <li>+1 908 875 7678</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Email</li>
                                    <li>{{member.email}}</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>Website</li>
                                    <li>www.yourdomain.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctor Details -->

    <!-- Counter Area -->
    <section class="counter-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="images/counter-1.png" alt="" class="img-fluid">
                        <p class="counter">3729</p>
                        <h6>Happy Patients</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="images/counter-2.png" alt="" class="img-fluid">
                        <p class="counter">139</p>
                        <h6>Specialists</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="images/counter-3.png" alt="" class="img-fluid">
                        <p class="counter">124</p>
                        <h6>Ward Rooms</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="images/counter-4.png" alt="" class="img-fluid">
                        <p class="counter">337</p>
                        <h6>Cabins</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Area -->

    <!-- Specialist Area -->
    <section class="specialist about-specialist">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="specialist-top text-center">
                        <h4>Meet Our Specialists</h4>
                        <img src="images/heartbeat.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod voluptate, molestiae eos odio illo.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-doctor owl-carousel">
                        <div class="carousel-content">
                            <img src="images/doc-1.png" alt="" class="img-fluid">
                            <div class="doc-content text-center">
                                <h5>Dr. Alex Jones</h5>
                                <p>Cardiologist</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-content">
                            <img src="images/doc-2.png" alt="" class="img-fluid">
                            <div class="doc-content text-center">
                                <h5>Dr. Maria Perry</h5>
                                <p>Surgeon</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-content">
                            <img src="images/doc-3.png" alt="" class="img-fluid">
                            <div class="doc-content text-center">
                                <h5>Dr. David Jones</h5>
                                <p>Dentist</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-content">
                            <img src="images/doc-4.png" alt="" class="img-fluid">
                            <div class="doc-content text-center">
                                <h5>Dr. Alisha Perry</h5>
                                <p>Urologist</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Specialist Area -->

{% endblock %}

{% block title %}

{% endblock %}

