<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="findus">
                    <h4 class="text-pink1">Help After Stroke</h4>
                    <p>Contactez-nous.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i>Bastos, Cameroun</li>
                        <li><i class="fa fa-envelope"></i>info@helpafterstroke.org</li>
                        <li><i class="fa fa-phone"></i>+237 6 20 04 89 65</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qlink">
                    <h4>Liens Utiles</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('about') }}">A propos de Nous</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('contact') }}">Nous Ecrire</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('life_after_stroke_blog') }}">Blog</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('team') }}">Notre Equipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tpost">
                    <h4>Posts Récents</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-twitter"></i>Lorem ipsum dolor sit amet, consec... <a href="">https://bh.com/</a></li>
                        <li><i class="fa fa-twitter"></i>Lorem ipsum dolor sit amet, consec... <a href="">https://bh.com/</a></li>
                        <li><i class="fa fa-twitter"></i>Lorem ipsum dolor sit amet, consec... <a href="">https://bh.com/</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Votre Nom" required>
                        <input type="email" name="email" placeholder="Votre Email" required>
                        <button type="submit">S'inscrire</button>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="f-menu text-center">
                    <ul class="menu list-unstyled list-inline">
                        <li class="list-inline-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="list-inline-item"><a href="{{ path('about') }}">A Propos de Nous</a></li>
                        <li class="list-inline-item"><a href="{{ path('life_after_stroke_blog') }}">Conseils & Astuces</a></li>
                        <li class="list-inline-item"><a href="{{ path('team') }}">L'équipe</a></li>
                        <li class="list-inline-item"><a href="{{ path('life_after_stroke_blog') }}">Blog</a></li>
                        <li class="list-inline-item"><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                    <p>Copyright &copy; 2023 | Performed with <i class="fa fa-heart"></i> by <a href="#" target="_blank">Coding City</a></p>
                    <ul class="social list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="back-to-top text-center">
                    <a data-scroll href="#btt"><img src="{{ asset('images/backtotop.png') }}" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->